@font-face {
    font-family: Montserrat;
    src: url(https://fonts.google.com/specimen/Montserrat);
}

@font-face {
    font-family: Fraunces;
    src: url(https://fonts.google.com/specimen/Fraunces);
}

- Weights: 500, 700
- Weights: 700
