:root{
    --cor-dark-cyan: hsl(158, 36%, 37%);
    --cor-cream: hsl(30, 38%, 92%);
    --cor-Very-dark-blue: hsl(212, 21%, 14%);
    --cor-Dark-grayish-blue: hsl(228, 12%, 48%);
    --cor-White: hsl(0, 0%, 100%);
}